modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_anthropic_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BIWkpYdQk7cHuG-yJr8MvEnc0BocUbPW5KTq1K33m3ouS_HUOwp1J4UTprMAlgxKhJddc-dBJtshivYFg33n4Vw"
VAPID_PRIVATE_KEY = "g_oNf7mA_D2hpHto-B0yBuccwoZVk3lkcrEXhS8Of6Y"
VAPID_SUBJECT = "mailto:lyfeos@replit.app"
